@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: black;
}

@font-face {
  font-family: "Integral CF Bold";
  src: url(../public/fontspring-demo-integralcf-bold.woff);
}

@font-face {
  font-family: "Integral CF Medium";
  src: url(../public/fontspring-demo-integralcf-medium.woff);
}

@font-face {
  font-family: "averta_demo_pe_cutted_demoRg";
  src: url(../public/fontsfree-net-avertademopecutteddemo-regular.woff);
}
@font-face {
  font-family: "integral_cfregular";
  src: url(../public/fontsfree-net-integral-cf-regular.woff);
}
h1 {
  font-family: "Integral CF Bold";
}

h2 {
  font-family: "Integral CF Medium", sans-serif;
}

h3 {
  font-family: "averta_demo_pe_cutted_demoRg";
}

p,
a,
option,
select,
span {
  font-family: "DM Sans", sans-serif;
}

input:focus,
select:focus,
textarea:focus {
  outline: none !important;
}
.active {
  position: relative;
  color: #3d00b7;
}

.active::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 60%;
  height: 2px;
  background-color: #3d00b7;
  transition: width 0.3s ease;
}

.active:hover::before {
  width: 0%;
}

.swiper {
  width: 400px;
  height: 441px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(2n) {
  width: 400px;
  z-index: 8;
  transform: translate3d(calc(-386px + 8.25%), -6px, -138px) rotateZ(2deg)
    scale(1);
  transition-duration: 0ms;
}

.swiper-slide:nth-child(3n) {
  transform: translate3d(calc(-792px + 13%), 0px, -200px) rotateZ(3deg) scale(1);
}

.rounded-text {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 12px;
  text-transform: uppercase;
  transform: rotate(-103deg);
  color: black;
  background-color: #ffe0d4;
  font-weight: bold;
  z-index: -1;
  font-family: "DM Sans", sans-serif;
}
.coloring {
  letter-spacing: 5px;
}

@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.rotating {
  animation: rotating 12s linear infinite;
}
@keyframes coloring {
  0% {
    fill: #070707;
  }
  35% {
    fill: #070707;
  }
  75% {
    fill: #070707;
  }
  100% {
    fill: #070707;
  }
}
/* mobile responsive breakpoint */
@media only screen and (max-width: 688px) {
  .swiper {
    width: 300px;
    height: 431px;
  }
}
/* tab responsive breakpoint */
@media only screen and (max-width: 945px) {
  .swiper {
    width: 290px;
    height: 441px;
  }
}

.scroll-to-top {
  background-color: white;
  right: 40px;
  bottom: 40px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 100% !important;
  width: 40px;
  display: flex;
  justify-items: center;
  height: 40px;
  box-shadow: 0 9px 25px 0 rgba(132, 128, 177, 0.28);
  border: none;
  justify-content: center;
  align-items: center;
}
